cycler==0.10.0
decorator==4.3.0
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.10
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
kiwisolver==1.0.1
MarkupSafe==0.23
matplotlib==2.2.3
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.5
numpy==1.13.3+mkl
pickleshare==0.7.4
Pygments==2.0.2
pyparsing==2.0.3
python-dateutil==2.7.3
pytz==2015.4
pyzmq==15.2.0
qtconsole==4.1.0
scipy==0.19.0
simplegeneric==0.8.1
six==1.11.0
tornado==4.3
traitlets==4.3.2
